#page
	#jqt
		#startup(data-pageEvents="both")
		#login.login_background(data-pageEvents="both")
			#login_content
				.login_r
				ul.rounded.login_style
					li.login_style
						div
							input#userNameTextbox.login_style(type='email', placeholder='#{lang.loginPage.userNamePlaceholderText}', name='user[username]', value='')
					li.login_style
						div
							input#passwordTextbox.login_style(type='password', placeholder='#{lang.loginPage.passwordPlaceholderText}', name='user[password]', value='')
				a#loginButton.whiteButton(href='#')  #{lang.loginPage.loginText}
				p#loginErrorText
				p.login_style &copy; #{new Date().getFullYear()} #{lang.shared.statProText} | #{lang.shared.versionText} #{version} <br /> [#{environment}]

		#home(data-pageEvents="both")
			.toolbar
				#toolbar_logo
				a.back(href='#') #{lang.homePage.logOutText}
			#wrapper
				#scroller
					ul.rounded
						li.arrow 
							a#portfoliosButton.slide(href='#portfolios') #{lang.homePage.portfoliosText}
						li.arrow 
							a#eulaButton.slide(href='#eula') #{lang.homePage.viewEulaText}
						li.arrow 
							a#testButton(href='#test') #{lang.homePage.testText}
					#home_partial

		#portfolios(data-pageEvents="both")
			.toolbar
				h1 #{lang.portfoliosPage.portfoliosText}
				a.back(href='#') #{lang.shared.backText}
			#wrapper
				#scroller
					#portfolios_partial
		
		#portfolioAnalysis(data-pageEvents="both")
			.toolbar
				h1 #{lang.portfoliosAnalysisPage.portfoliosAnalysisText}
				a.back(href='#') #{lang.shared.backText}
			#wrapper
				#scroller
					#portfolioAnalysis_partial
		
		#analysis(data-pageEvents="both")
			.toolbar
				h1#analysisTitle #{lang.analysisPage.analysisText}
			#analysisSummary
				.summaryTitle
						h2#summaryTitleName
						h3#summaryTitleBenchmarkName
				.summaryReturn
					h2#timePeriodStartDateText
					h3 #{lang.analysisPage.startDate}
				.summaryReturn
					h2#timePeriodEndDateText
					h3 #{lang.analysisPage.endDate}
			#wrapper(style="top:105px")
				#scroller
					#analysis_partial				

		#eula(data-pageEvents="both", class='pageWithEvents')
			.toolbar
				h1 #{lang.eulaPage.eulaText}
				a.back(href='#settings') #{lang.shared.backText}
			#wrapper
				#scroller
					#eula_partial
		
		#settings(data-pageEvents="both")
			.toolbar
				h1 #{lang.settingsPages.settingsText}
			#wrapper
				#scroller
					// h2 #{lang.settingsPages.applicationSettingsText}
					ul.rounded
						li.arrow
							a(href="#analysisPagesSettings") #{lang.settingsPages.analysisPagesText}

					// h2 #{lang.settingsPages.userPreferencesText}
					ul.rounded
						li.arrow
							a(href="#themes") #{lang.settingsPages.themesText}
						li.arrow
							a(href="#languageSettings") #{lang.settingsPages.languagesText}
						li #{lang.settingsPages.autoLoginText}
							span.toggle
								input#stayLoggedCheckbox(type="checkbox")

					// h2 TODO: Memory Statistics / Consumed
					ul.rounded
						li
							a#reloadAppButton(href="#") #{lang.settingsPages.reloadText}
						li.arrow
							a(href="#reset") #{lang.settingsPages.resetText}
					ul.rounded
						li.arrow
							a(href="#about") #{lang.settingsPages.aboutText}
						li.arrow
							a(href="#eula") #{lang.settingsPages.licenseText}
					// a#reloadApp.whiteButton(href='#') #{lang.settingsPages.reloadText}
					// a#resetApp.whiteButton(href='#reset') Reset App
					ul.rounded
						li#userEmailLabel.centeredText
					ul.rounded
						li
							a#testButton(href="#test") Test Page
						
		#reset
			.toolbar
				h1 #{lang.settingsPages.themesText}
				a.back(href='#settings') #{lang.shared.backText}
			ul.rounded
				li#resetCurrentSettingsButton.centeredText #{lang.settingsPages.resetCurrentSettingsText}
				li#resetAllSettingsButton.centeredText #{lang.settingsPages.resetAllSettingsText}
		#themes
			.toolbar
				h1 #{lang.settingsPages.themesText}
				a.back(href='#settings') #{lang.shared.backText}
			ul.rounded

		#analysisPagesSettings(data-pageEvents="both")
			.toolbar
				h1 #{lang.settingsPages.analysisPagesText}
				a.back(href='#settings') #{lang.shared.backText}
			#wrapper
				#scroller
					h2 #{lang.settingsPages.userPagesText}
					ul#listAnalysisSettingsUserPages.edit.rounded
					h2 #{lang.settingsPages.defaultPagesText}
					ul#listAnalysisSettingsDefaultPages.edit.rounded

		#chartSettings(data-pageEvents="both")
			.toolbar
				h1 #{lang.settingsPages.analysisPageText}
				a.back(href='#settings') #{lang.shared.backText}
			#wrapper
				#scroller
					h2 #{lang.settingsPages.userPageText}
					form.scroll
						ul.edit.rounded
							li
								input#analysisPageNameTextbox(type='text', placeholder='#{lang.settingsPages.pageNameText}', value='')						
							li.arrow
								select#chartsSelectbox(multiple="multiple")
					a#saveChartSettings.whiteButton(href='#') #{lang.settingsPages.saveText}
		
		#languageSettings(data-pageEvents="both")
			.toolbar
				h1 #{lang.languageSettingsPage.settingsText}
				a.back(href='#settings') #{lang.shared.backText}
			#wrapper
				#scroller
					ul#listLanguagesPages.rounded
		
		#error(data-pageEvents="both")
			.toolbar
				h1 #{lang.errorPage.errorText}
			#wrapper
				#scroller
					#errorMessage
						p#errorMessageText

		#about(data-pageEvents="both", class='pageWithEvents')
			.toolbar
				h1 #{lang.aboutPage.aboutText}
				a.back(href='#settings') #{lang.shared.backText}
			#wrapper
				#scroller
					#about_partial
						.genericContainer
							img#aboutLogo(src='images/icon.png' )
							h2 #{lang.aboutPage.mobileText} 
							p &copy; #{new Date().getFullYear()} #{lang.shared.statProText} | #{lang.shared.versionText} #{version}
							p
								!{lang.aboutPage.githubText} <br />
								#{lang.aboutPage.poweredText} <br />								
								#{lang.aboutPage.openSourceText} 								
							p.links
								a(href='http://nodejs.org/') Node
								a(href='http://expressjs.com/') Express
								a(href='http://zeptojs.com/') Zepto
								a(href='http://www.jqtouch.com/') jQTouch
								a(href='http://www.datejs.com/') Datejs
								a(href='http://cubiq.org/iscroll') iScroll
								a.last(href='http://itabbar.com/') iTabbar
		
		#test(data-pageEvents="both")
			.toolbar
				h1 Test Page
			#wrapper
				#scroller
					#div1.testBox box 1
					#div2.testBox box 2
					#div3.testBox box 3
					#lastDiv(style="clear: both")

	nav#tabbar(style="opacity: 0; -webkit-transition: opacity 0.25s linear 0.25s;")
		ul

#fullScreenPage
	#fullScreenContainer
		#fullScreenHeader
			#smallLogo
			h2 Title
			#minimizeButton
		#fullScreenSummary
			.summaryTitle
					h2 summaryTitleName
					h3 summaryTitleBenchmarkName
			.summaryReturn
				h2 Jun 13, 2010
				// timePeriodStartDateText
				h3 #{lang.analysisPage.startDate}
			.summaryReturn
				h2 Jun 13, 2012
				// timePeriodEndDateText
				h3 #{lang.analysisPage.endDate}
		#wrapper
			#scroller
				#testChart
	#fullScreenMask
	#turnIcon

#myloading.modalBackground

#turnLoadingMask.modalTransparentBackground

#myLoadingCharts.modalBackground
	#loadingText
	