#page
	#jqt
		#login.login_background(data-pageEvents="both")
			#login_content
				.login_r
				ul.rounded.login_style
					li.login_style
						div
							input#userNameTextbox.login_style(type='email', placeholder=#{lang.loginPage.userNamePlaceholderText}, name='user[username]', value='asa.fama@statpro.com')
					li.login_style
						div
							input#passwordTextbox.login_style(type='password', placeholder=#{lang.loginPage.passwordPlaceholderText}, name='user[password]', value='StatPro123')
				ul.rounded
					li.login_button
						a#loginButton(href='#')  #{lang.loginPage.loginText}
				p.login_style #{lang.loginPage.signUpText} | #{lang.loginPage.supportText}
		
		#home(data-pageEvents="both")
			.toolbar
				#toolbar_logo
				a.back(href='#') #{lang.homePage.logOutText}
			#wrapper
				#scroller
					ul.rounded
						li.arrow 
							a#portfoliosButton.slide(href='#portfolios') #{lang.homePage.portfoliosText}
						li.arrow 
							a#eulaButton.slide(href='#eula') #{lang.homePage.viewEulaText}
						li.arrow 
							a#testButton(href='/test.htm', rel='external') #{lang.homePage.testText}
					#home_partial

		#portfolios(data-pageEvents="both")
			.toolbar
				h1 #{lang.portfoliosPage.portfoliosText}
				a.back(href='#') #{lang.portfoliosPage.backText}
			#wrapper
				#scroller
					#portfolios_partial
		
		#portfolioAnalysis(data-pageEvents="both")
			.toolbar
				h1 #{lang.portfoliosAnalysisPage.portfoliosAnalysisText}
				a.back(href='#') #{lang.portfoliosAnalysisPage.backText}
			#wrapper
				#scroller
					#portfolioAnalysis_partial
		
		#analysis(data-pageEvents="both")
			.toolbar
				h1 #{lang.analysisPage.analysisText}
				a.back(href='#') #{lang.analysisPage.backText}
			#wrapper
				#scroller
					#analysis_partial					

		#eula(data-pageEvents="both", class='pageWithEvents')
			.toolbar
				h1 #{lang.eulaPage.eulaText}
				a.back(href='#') #{lang.eulaPage.backText}
			#wrapper
				#scroller
					#eula_partial

		#test
			.toolbar
				h1 test
				a.back(href='login.htm') Back
			#wrapper
				#scroller
					#test_partial

	// nav#tabbar(style="display: none")
	nav#tabbar(style="opacity: 0; -webkit-transition: opacity 0.25s linear 0.25s;")
		ul

#myloading
	img(src='img/loading.gif' )
