#page
	#jqt
		#startup(data-pageEvents="both")
		#revolutionLogin.login_background(data-pageEvents="both")
			#login_content
				.login_r
				ul.rounded.login_style
					li.login_style
						div
							input#userNameTextbox.login_style(type='email', placeholder='#{lang.loginPage.userNamePlaceholderText}', name='user[username]', value='')
					li.login_style
						div
							input#passwordTextbox.login_style(type='password', placeholder='#{lang.loginPage.passwordPlaceholderText}', name='user[password]', value='StatPro123')
				a#loginButton.whiteButton(href='#')  #{lang.loginPage.loginText}
				p#loginErrorText
				p.login_style #{new Date().getFullYear()} #{lang.loginPage.statProText} | ver. 01a <br /> #{environment}

		#home(data-pageEvents="both")
			.toolbar
				#toolbar_logo
				a.back(href='#') #{lang.homePage.logOutText}
			#wrapper
				#scroller
					ul.rounded
						li.arrow 
							a#portfoliosButton.slide(href='#portfolios') #{lang.homePage.portfoliosText}
						li.arrow 
							a#eulaButton.slide(href='#eula') #{lang.homePage.viewEulaText}
						li.arrow 
							a#testButton(href='#test') #{lang.homePage.testText}
					#home_partial

		#portfolios(data-pageEvents="both")
			.toolbar
				h1 #{lang.portfoliosPage.portfoliosText}
				a.back(href='#') #{lang.shared.backText}
			#wrapper
				#scroller
					#portfolios_partial
		
		#portfolioAnalysis(data-pageEvents="both")
			.toolbar
				h1 #{lang.portfoliosAnalysisPage.portfoliosAnalysisText}
				a.back(href='#') #{lang.shared.backText}
			#wrapper
				#scroller
					#portfolioAnalysis_partial
		
		#analysis(data-pageEvents="both")
			.toolbar
				h1#analysisTitle #{lang.analysisPage.analysisText}
			#analysisSummary(style="height:80px; -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 6px;")
				.summaryTitle
						h2#summaryTitleName
						h3#summaryTitleBenchmarkName
				.summaryReturn
					h2#timePeriodStartDateText
					h3 #{lang.analysisPage.startDate}
				.summaryReturn
					h2#timePeriodEndDateText
					h3 #{lang.analysisPage.endDate}
			#wrapper(style="top:128px")
				#scroller
					#analysis_partial				

		#eula(data-pageEvents="both", class='pageWithEvents')
			.toolbar
				h1 #{lang.eulaPage.eulaText}
				a.back(href='#') #{lang.shared.backText}
			#wrapper
				#scroller
					#eula_partial
		
		#settings(data-pageEvents="both")
			.toolbar
				h1 #{lang.settingsPage.settingsText}
			#wrapper
				#scroller
					// form.scroll
					h2 Application
					ul.rounded
						li.arrow
							a(href="#themes") Themes
						li.arrow
							a(href="#analysisPagesSettings") Analysis Pages

					h2 User preferences
					ul.rounded
						li.arrow
							a(href="#languageSettings") Languages
						li Auto Login
							span.toggle
								input#stayLoggedCheckbox(type="checkbox")
					// h2 TODO: Memory Statistics / Consumed
					ul.rounded
						li.arrow
							a(href="#eula") EULA
					a#reloadApp.whiteButton(href='#') Reload App
					a#resetApp.whiteButton(href='#') Reset App (TODO)
					ul.rounded
						li#userEmailLabel.centeredText
		#themes
			.toolbar
				h1 Themes
				a.back(href='#') Back
			ul.rounded

		#analysisPagesSettings(data-pageEvents="both")
			.toolbar
				h1 #{lang.analysisSettingsPages.settingsText}
				a.back(href='#') #{lang.shared.backText}
			#wrapper
				#scroller
					h2 User Pages
					ul#listAnalysisSettingsUserPages.edit.rounded
					h2 Default Pages
					ul#listAnalysisSettingsDefaultPages.edit.rounded

		// TODO: Change server localization file. analysisSettingsPage -> chartSettingsPage
		#chartSettings(data-pageEvents="both")
			.toolbar
				h1 #{lang.analysisSettingsPage.settingsText}
				a.back(href='#') #{lang.shared.backText}
			#wrapper
				#scroller
					h2 User Page
					form.scroll
						ul.edit.rounded
							li
								input#analysisPageNameTextbox(type='text', placeholder='Page Name', value='')						
							li.arrow
								select#chartsSelectbox(multiple="multiple")
					a#saveChartSettings.whiteButton(href='#') Save
		
		#languageSettings(data-pageEvents="both")
			.toolbar
				h1 #{lang.languageSettingsPage.settingsText}
				a.back(href='#') #{lang.shared.backText}
			#wrapper
				#scroller
					ul#listLanguagesPages.rounded
		
		#error(data-pageEvents="both")
			.toolbar
				h1 #{lang.errorPage.errorText}
			#wrapper
				#scroller
					#errorMessage
						p#errorMessageText

	nav#tabbar(style="opacity: 0; -webkit-transition: opacity 0.25s linear 0.25s;")
		ul

#myloading.modalBackground
	img(src='img/loading.gif' )

#myLoadingCharts.modalBackground
	img(src='img/loading.gif' )
	#loadingText