#page
	#jqt
		#startup.login_background(data-pageEvents="both")
		#revolutionLogin.login_background(data-pageEvents="both")
			#login_content
				.login_r
				ul.rounded.login_style
					li.login_style
						div
							input#userNameTextbox.login_style(type='email', placeholder='#{lang.loginPage.userNamePlaceholderText}', name='user[username]', value='')
					li.login_style
						div
							input#passwordTextbox.login_style(type='password', placeholder='#{lang.loginPage.passwordPlaceholderText}', name='user[password]', value='StatPro123')
				ul.rounded
					li.login_button
						a#loginButton(href='#')  #{lang.loginPage.loginText}
				p.login_style #{lang.loginPage.signUpText} | #{lang.loginPage.supportText}
		
		#home(data-pageEvents="both")
			.toolbar
				#toolbar_logo
				a.back(href='#') #{lang.homePage.logOutText}
			#wrapper
				#scroller
					ul.rounded
						li.arrow 
							a#portfoliosButton.slide(href='#portfolios') #{lang.homePage.portfoliosText}
						li.arrow 
							a#eulaButton.slide(href='#eula') #{lang.homePage.viewEulaText}
						li.arrow 
							a#testButton(href='#test') #{lang.homePage.testText}
					#home_partial

		#portfolios(data-pageEvents="both")
			.toolbar
				h1 #{lang.portfoliosPage.portfoliosText}
				a.back(href='#') #{lang.portfoliosPage.backText}
			#wrapper
				#scroller
					#portfolios_partial
		
		#portfolioAnalysis(data-pageEvents="both")
			.toolbar
				h1 #{lang.portfoliosAnalysisPage.portfoliosAnalysisText}
				a.back(href='#') #{lang.portfoliosAnalysisPage.backText}
			#wrapper
				#scroller
					#portfolioAnalysis_partial
		
		#analysis(data-pageEvents="both")
			.toolbar
				h1 #{lang.analysisPage.analysisText}
				a.back(href='#') #{lang.analysisPage.backText}
			#wrapper
				#scroller
					#analysis_partial
			//
				#swipeview-wrapper
					ul#swipeview-nav
						li#prev(onclick='gallery.prev()') -
						li.selected(onclick='gallery.goToPage(0)')
						li(onclick='gallery.goToPage(1)')
						li(onclick='gallery.goToPage(2)')
						li(onclick='gallery.goToPage(3)')
						li(onclick='gallery.goToPage(4)')
						li(onclick='gallery.goToPage(5)')
						li#next(onclick='gallery.next()') +					

		#eula(data-pageEvents="both", class='pageWithEvents')
			.toolbar
				h1 #{lang.eulaPage.eulaText}
				a.back(href='#') #{lang.eulaPage.backText}
			#wrapper
				#scroller
					#eula_partial
		
		#settings(data-pageEvents="both")
			.toolbar
				h1 #{lang.settingsPage.settingsText}
				a.back(href='#') #{lang.settingsPage.backText}
			#wrapper
				#scroller
					// form.scroll
					h2 Application
					ul.edit.rounded
						li.arrow
							a(href="#") Themes
						li.arrow
							a(href="#analysisPagesSettings") Analysis Pages
						li 
							span Snap
							span.toggle
								input(type="checkbox")

					h2 User preferences
					ul.edit.rounded
						li.arrow
							a(href="#") Languages
						li Stay Logged
							span.toggle
								input(type="checkbox")
						
					a#reloadApp.grayButton(href='#') Reload App
		
		#analysisPagesSettings(data-pageEvents="both")
			.toolbar
				h1 #{lang.analysisSettingsPages.settingsText}
				a.back(href='#') #{lang.analysisSettingsPages.backText}
			#wrapper
				#scroller
					h2 Default Pages
					ul#listAnalysisSettingsDefaultPages.edit.rounded
					h2 User Pages
					ul#listAnalysisSettingsUserPages.edit.rounded
					a.grayButton(href='#') Add New Page

		// TODO: Change server localization file. analysisSettingsPage -> chartSettingsPage
		#chartSettings(data-pageEvents="both")
			.toolbar
				h1 #{lang.analysisSettingsPage.settingsText}
				a.back(href='#') #{lang.analysisSettingsPage.backText}
			#wrapper
				#scroller
					h2 User Page
					form.scroll
						ul.edit.rounded
							li
								input#analysisPageNameTextbox(type='text', placeholder='Page Name', value='')						
							li.arrow
								select#lol(multiple="multiple")
									optgroup(label='Line Charts')
										option(value='1') Chart 1
										option(value='2') Chart 2
									optgroup(label='Bar Charts')
										option(value='3') Bar 1
										option(value='4') Bar 2
					// a#showSlot.grayButton(href='#') Show Slot

		#test
			.toolbar
				h1 test
				a.back(href='#') #{lang.eulaPage.backText}
			#wrapper
				#scroller
					h2 Local Storage
					a#btnTestSaveToLS.grayButton(href='#') Save
					a#btnLoadFromLS.grayButton(href='#') Load
					a#btnItemsCountLS.grayButton(href='#') Count
					a#btnTestClearAllLS.grayButton(href='#') Clear
					h2 Option Group
					form.scroll
						ul.edit.rounded
							li.arrow
								select#lol(multiple="multiple")
									optgroup(label='Line Charts')
										option(value='1') Chart 1
										option(value='2') Chart 2
									optgroup(label='Bar Charts')
										option(value='3') Bar 1
										option(value='4') Bar 2
					a#showSlot.grayButton(href='#') Show Slot
					#test_partial

	// nav#tabbar(style="display: none")
	nav#tabbar(style="opacity: 0; -webkit-transition: opacity 0.25s linear 0.25s;")
		ul

#myloading
	img(src='img/loading.gif' )

#myLoadingCharts
	img(src='images/loading.gif' )
